html {
    height: 100%;
}

body {
    background: url('/media/qalamkar-msin.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

/* bulma css */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

